<h1>Hello, world!</h1>
<p>Welcome to our new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>.NET 6</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li>and <a href='https://www.okta.com/'>okta</a> for authentication.</li>
</ul>
